<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FamilyType</key>
	<array>
		<string>HEAD_OF_FAMILY</string>
		<string>GRAND_FATHER</string>
		<string>GRAND_MOTHER</string>
		<string>GUARDIAN</string>
		<string>SPOUSE</string>
		<string>CHILD</string>
		<string>OTHER_EXTENDED_MEMBER</string>
	</array>
	<key>IMConstantKeys</key>
	<dict>
		<key>IMForgotPassword</key>
		<string>password/reset</string>
		<key>IMSleepDefault</key>
		<real>36000</real>
		<key>IMReferences</key>
		<string>references</string>
		<key>IMMigrantShow</key>
		<string>migrant/show</string>
		<key>IMFamilyGet</key>
		<string>family/get</string>
		<key>IMUpdateApp</key>
		<string>update/app</string>
		<key>IMMigrantUpdate</key>
		<string>migrant/update</string>
		<key>IMInterceptionUpdateMovement</key>
		<string>interception/updateMovement</string>
		<key>IMMigrantList</key>
		<string>migrant/list</string>
		<key>IMInterceptionLocationList</key>
		<string>interceptionLocation/list</string>
		<key>IMInterceptionList</key>
		<string>interception/list</string>
		<key>IMFamilyList</key>
		<string>family/list</string>
		<key>IMAccomodationList</key>
		<string>accomodation/list</string>
		<key>IMMigrantSave</key>
		<string>migrant/save</string>
		<key>IMMovementSave</key>
		<string>movement/save</string>
		<key>IMInterceptionLocationSave</key>
		<string>interceptionLocation/save</string>
		<key>IMInterceptionSave</key>
		<string>interception/save</string>
		<key>IMAccomodationSave</key>
		<string>accomodation/save</string>
		<key>IMFamilySave</key>
		<string>familyRegister/save</string>
		<key>IMAPISecret</key>
		<string>7cb0533b94446f4c49f1eadcffe5f19a31b25d5d</string>
		<key>IMAPIKey</key>
		<string>d67acd1c1fa33b68055f9f7dafaa3ae0</string>
		<key>IMBaseURL</key>
		<string>https://im.iom.or.id/api</string>
		<key>IMGoogleAPIKey</key>
		<string>AIzaSyCiSIcfZfCPjGhMJNb8vbEEPnwiyjcGu5Q</string>
	</dict>
	<key>UNHCRDocument</key>
	<array>
		<string>No Document</string>
		<string>Appointment Slip</string>
		<string>Asylum Seeker Certificate</string>
		<string>Temporary Protection Certificate</string>
		<string>Refugee Certificate</string>
		<string>Refugee Card</string>
		<string>Rejection Certificate</string>
	</array>
	<key>UNHCRStatus</key>
	<array>
		<string>Unregistered</string>
		<string>Registered</string>
		<string>Undergoing Assessment</string>
		<string>Refugee</string>
		<string>Rejected</string>
	</array>
	<key>Gender</key>
	<array>
		<string>Male</string>
		<string>Female</string>
	</array>
	<key>DetentionLocationType</key>
	<array>
		<string>Kanim</string>
		<string>Rudenim</string>
		<string>Housing</string>
		<string>Interception Site</string>
	</array>
	<key>MaritalStatus</key>
	<array>
		<string>Single</string>
		<string>Married</string>
		<string>Widow</string>
	</array>
	<key>MovementType</key>
	<array>
		<string>Escape</string>
		<string>Transfer</string>
		<string>AVR</string>
		<string>Resettlement</string>
		<string>Deportation</string>
		<string>Release</string>
		<string>Decease</string>
	</array>
	<key>TravelMode</key>
	<array>
		<string>Airplane</string>
		<string>Car</string>
		<string>Ferry</string>
		<string>Train</string>
	</array>
	<key>Vulnerability</key>
	<array>
		<string>No Vulnerability</string>
		<string>Unaccompanied Minor</string>
		<string>Pregnant</string>
		<string>Elderly</string>
		<string>Blindness</string>
		<string>Deafness</string>
		<string>Mental Disability</string>
		<string>Medical Disability</string>
		<string>Physical Disability</string>
		<string>Psychiatric Disability</string>
		<string>Speech Disability</string>
	</array>
</dict>
</plist>
